* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: black;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p,
span,
lebel,
input,
texterea,
li {
    color: rgba(255, 249, 242, 0.536);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width) {
    .main-container {
        width: 90%;
    }
}

/* Logo and Navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
     
}